@import "tailwindcss";
@source "../../templates/**/*.html";

@theme {
  --color-brand: #c2211a;
  --font-sans: Montserrat, sans-serif;
}

@utility scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
  }
}
